.connect-four-square {
  display: block;
  border-radius: 50%;
  background: lightblue;
}

.connect-four {
  border-radius:5px;
  overflow:hidden;
}

.connect-four:hover {
  cursor: pointer;
}

.connect-four tr {
  margin:0;
  padding:0;
}

.connect-four td {
  background: blue;
  margin:0;
  padding:0;
}

.top-row td{
  background:white;
}

.red {
  background:red;
}

.yellow {
  background:yellow;
}

.temp-red {
  background:pink;
}

.temp-yellow {
  background:orange;
}
